$border-color: rgb(224, 224, 224);
$margin: 1rem;

@font-face {
    font-family: 'standardgrafregular';
    src: url('/fonts/Standard Graf/standard-graf_regular.eot');
    src: url('/fonts/Standard Graf/standard-graf_regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Standard Graf/standard-graf_regular.woff') format('woff'),
         url('/fonts/Standard Graf/standard-graf_regular.ttf') format('truetype'),
         url('/fonts/Standard Graf/standard-graf_regular.svg#standardgrafregular') format('svg');
}

.gothic * {
	font-family: standardgrafregular;
}

@media print {
  .hide-on-print, button {
    display: none;
  }
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"], input[type="number"], textarea {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid;
	border-color: $border-color;
	appearance: textfield;
}

.flex {
	display: flex;
	flex-wrap: wrap;

	.stat-box input, .flex .stat-box textarea {
	 display: block;
	 width: 100%;
 }
}

.stat-box {
	padding: $margin;

	label {
		display: block;
	}

	input, textarea {
		font-size: 125%;
	}

	.modifier {
		display: flex;
		border-bottom: solid;
		border-color: rgb(224, 224, 224);

		input {
			display: inline-block;
			border-bottom: none;
			flex-grow: 1;
		}
	}

	.modifier-checkbox {
		display: flex;
		border-bottom: solid;
		border-color: rgb(224, 224, 224);

		input {
			width: auto;
		}

		.modifier {
			border-bottom: none;
		}
	}
}

table {
	width: 100%;

	tr td {
		padding: $margin / 2;
		input {
			width: 100%;
		}
	}
}